
.img-fluid {
  max-width: 54%;
  height: auto;
  margin-left: -42%;
}

img.stepper2 {
  width: 134%;
  height: 350px;
  margin-left: -37%;
}
#tech {
  margin-left: -54%;
  margin-top: -8%;
}

#clgPr {
  margin-left: 12%;
}

.CetForm_labels {
  font-size: 18px;
}
